<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NocturnoWeb</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@forevolve/bootstrap-dark@@1.0.0/dist/css/bootstrap-dark.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NocturnoWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="main">
    <header>
        <hr class="mb-stroke-top" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand logoContainer" asp-area="" asp-page="/Index"><img src="~/img/logo-small.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="menu-graphic">
                                <div class="anim-0"></div>
                                <div class="anim-1"></div>
                                <div class="anim-2"></div>
                                <div class="anim-3"></div>
                            </div>
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="menu-graphic">
                                <div class="anim-0"></div>
                                <div class="anim-1"></div>
                                <div class="anim-2"></div>
                                <div class="anim-3"></div>
                            </div>
                            <a class="nav-link" asp-area="" asp-page="/Events">Events</a>
                        </li>
                        <li class="nav-item">
                            <div class="menu-graphic">
                                <div class="anim-0"></div>
                                <div class="anim-1"></div>
                                <div class="anim-2"></div>
                                <div class="anim-3"></div>
                            </div>
                            <a class="nav-link" asp-area="" asp-page="/Artists">Artists</a>
                        </li>
@*                        <li class="nav-item">
                            <div class="menu-graphic">
                                <div class="anim-0"></div>
                                <div class="anim-1"></div>
                                <div class="anim-2"></div>
                                <div class="anim-3"></div>
                            </div>
                            <a class="nav-link" asp-area="" asp-page="/Gallery">Gallery</a>
                        </li>*@
                        <li class="nav-item">
                            <div class="menu-graphic">
                                <div class="anim-0"></div>
                                <div class="anim-1"></div>
                                <div class="anim-2"></div>
                                <div class="anim-3"></div>
                            </div>
                            <a class="nav-link" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                    </ul>


                    <div class="social-buttons">
                        <a href="mailto:office@nocturnoevents.ro" class="fa fa-envelope nav-link"></a>
                        <a href="https://www.facebook.com/wearenocturno" class="fa fa-facebook nav-link"></a>
                        <a href="https://www.instagram.com/wearenocturno_" class="fa fa-instagram nav-link"></a>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Nocturno Events
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>