@page
@model NocturnoWeb.Pages.EventsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Events</h1>

    <h2>Nothing yet. Check back soon.</h2>
    <h4>For inquiries, contact <a href="mailto:office@nocturnoevents.ro">office@@nocturnoevents.ro</a></h4>
</div>
