@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nocturno Events</h1>

    <h2>Site under construction. More coming sooon.</h2>
</div>
